<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pancake</title>
    @* <title>@ViewData["Title"] - Pancake</title> *@
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/OpenAiCustom.styles.css" asp-append-version="true"/>

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/site.webmanifest"/>

    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans KR' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans CS' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans JP' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
<body
    style="font-family: 'Pretendard' , 'Noto Sans', 'Noto Sans KR' , 'Noto Sans CS' , 'Noto Sans JP' , serif; background-color: #212121;">
@RenderBody()
@* <footer class="border-top footer text-muted"> *@
@*     <div class="container"> *@
@*         &copy; 2025 - OpenAiCustom - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*     </div> *@
@* </footer> *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>